/*
 * min.css for OpenJSCAD.org viewer
 */


/*-- Reset-Code --*/
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;margin:0px;padding:0px;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	/* start editing from here */
	a{text-decoration:none;}
	.txt-rt{text-align:right;}/* text align right */
	.txt-lt{text-align:left;}/* text align left */
	.txt-center{text-align:center;}/* text align center */
	.float-rt{float:right;}/* float right */
	.float-lt{float:left;}/* float left */
	.clear{clear:both;}/* clear float */
	.pos-relative{position:relative;}/* Position Relative */
	.pos-absolute{position:absolute;}/* Position Absolute */
	.vertical-base{vertical-align:baseline;}/* vertical align baseline */
	.vertical-top{vertical-align:top;}/* vertical align top */
	nav.vertical ul li{display:block;}/* vertical menu */
	nav.horizontal ul li{display: inline-block;}/* horizontal menu */
	img{max-width:100%;}
/*-- //Reset-Code --*/
.okButton {
   display: block;
    color: #f0c;
    border: 2px solid #f0c;
    border-radius: 4px;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    background: #eee;

    width: 50%;
    margin: 10px auto;
	cursor:pointer;
    text-align: center;
}

.okButton:hover {
   background: #ccc;
}

.jscad-container {
  margin: 15px auto; /* not inherited */
  padding: 10px; /* not inherited */
  color: Black;
  font-weight: bold;
  font-family: Helvetica, Arial, Sans;
  border: thin solid black;
  width: 90vw;
  height: 80vh;
  min-width: 410px;
}

#header {
  margin: 5px; /* not inherited */
}


#viewerContext {
    margin: -5px auto;
    border: 1px solid gray;
    padding: 5px;
    background: white;

    --aspect-ratio-h: 78vh;
    --aspect-ratio-w: 88vw;


    height: calc(3 * ((var(--aspect-ratio-w)) / 4));
    max-height: calc( ( var( --aspect-ratio-h ) ) );
}

canvas { 
  margin: 0px; /* not inherited */
  border: 0px none gray; /* not inherited */
  padding: 0px; /* not inherited */

  width: 100%;
  height: 100%;

  cursor: move; 
}

#parametersdiv {
  margin: 5px; /* not inherited */
  border: thin solid rgb(200,200,200);
  border-radius: 1em;     
  padding: 10px;

  background: white;
  opacity: 0.8;
}

#parametersdiv table {
  margin-bottom: 5px;

  text-align: left;
  font-size: 0.8em;
  font-weight: normal;
}

#parametersdiv th {
  margin:  0px; /* not inherited */
  border:  0px none gray; /* not inherited */
  padding: 5px; /* not inherited */

  font-weight: bold;
}

#parametersdiv th.caption {
  text-decoration: underline;
}

#parametersdiv td.caption {
  text-align: right;
  font-weight: bold;
}

#parametersdiv td {
  margin:  0px; /* not inherited */
  border:  0px none gray; /* not inherited */
  padding: 0px; /* not inherited */
}

#parametersdiv input, #parametersdiv textarea, #parametersdiv select {
  font-size: 0.9em;
  background: #fea;
  border: none;
}

#updateButton {
  margin:  5px; /* not inherited */
  border:  thin solid Black; /* not inherited */
  padding: 2px; /* not inherited */
  border-radius: 4px;
  background: white;

  margin-left: 1em;
}

#tail { 
  margin: 5px; /* not inherited */
}

#busy {
  vertical-align: middle;
}

